*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif  ;

}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}

#head{
    margin-bottom: 20px;
}
#container{
    height: 70vh;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;    
}
#screen{
    height: 80%;
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;
}
#generate-btn{
    padding: 5px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
#input-area{
    display: flex;
    gap: 10px;
    width: 100%;
}
#text-input{
    flex: 1;
    width: 200px;
    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}